.btnsize {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid $color-3;
  cursor: pointer;
  color: $color-3;
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0.2rem 0.5rem;
  line-height: 1;

  &:hover {
    border: 1px solid $color-4;
  }
}

.pressButton {
  border: 1px solid $color-4;
}
